$primary-color: #147efb;
$secondary-color: #4a4a4a;
$white-color: #ffffff;

.about-page-container {
  background-color: $white-color;
  text-align: left;
}

.about-page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 0;

  .about-page-header-title {
    font-size: 48px;
    color: $secondary-color;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
  }

  hr {
    width: 50%;
    border: none;
    border-top: 1px solid $primary-color;
    margin: 20px 0;
  }

  .about-page-subtitle {
    font-size: 24px;
    color: $secondary-color;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
  }
}

.about-page-main-body__text {
  font-size: 20px;
  color: $secondary-color;
  margin-bottom: 20px;
}

.about-page-main-body__list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    font-size: 20px;
    color: $secondary-color;
    margin-bottom: 10px;

    &:before {
      content: '\2022';
      color: $primary-color;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }
}

.about-page-second-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 0;

  .about-page-second-body__header {
    font-size: 36px;
    color: $secondary-color;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
  }

  hr.about-page-second-body__hr {
    width: 50%;
    border: none;
    border-top: 1px solid $primary-color;
    margin: 20px 0;
  }

  .about-page-second-body__text {
    font-size: 20px;
    color: $secondary-color;
    text-align: center;
    margin-bottom: 20px;
  }

  .about-page-second-body__list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      font-size: 20px;
      color: $secondary-color;
      margin-bottom: 10px;

      &:before {
        content: '\2022';
        color: $primary-color;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }
    }
  }
}
.about-page-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 0;

  .about-page-links__header {
    font-size: 36px;
    color: $secondary-color;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .about-page-links__list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      font-size: 20px;
      color: $primary-color;
      margin-bottom: 10px;

      a {
        color: $primary-color;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
  .about-page-resume {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    font-size: 1.2rem;
    color: #444;

    a {
      margin-left: 1rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      text-decoration: none;
      background-color: #2196f3;
      border-radius: 4px;
      padding: 0.5rem 1rem;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: #0d8bf2;
      }
    }
  }
  @media (max-width: 600px) {
    padding: 30px 0;
    .about-page-links__header {
      font-size: 28px;
      margin-bottom: 10px;
    }

    .about-page-links__list {
      li {
        font-size: 16px;
        margin-bottom: 5px;
      }
    }
  }
}
