#blog-posts-container {

  margin: 40px 0;
  #blog-posts-header {
    text-align: center;
    margin: 20px;
    h1.blog-posts-title {
      font-weight: bold;
    }
  }
  #blog-posts-list {
    .blog-posts-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .blog-post {
        width: 300px;
        margin: 1rem;
      }
    }
  }
}
