.category-new-header {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}

.category-new-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category-new-form-input {
  width: 100%;
}
