.nav {
  display: flex;
  justify-content: right;
  flex-direction: row-reverse;
  width: auto;
  max-width: 70%;
  height: 75px;
  align-items: center;
  ul {
    display: flex;
    justify-content: space-between;
    li {
      list-style: none;
      margin: auto;
      padding: 0px 20px;
      .nav-link {
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        color: white;
      }
    }
  }
}
