.banner-container {
  border: 1px dotted red;
  height: 400px;
  padding: 2rem;
  &__title {
    font-size: 2rem;
    padding: 1rem;
  }
  &__subtitle {
    font-size: 1.5rem;
    padding: 1rem;
  }
  &__location {
    font-size: 1rem;
    padding: 1rem;
  }
  &__button-wrapper {
  }
  &__button-link {
  }
  &__button {
  }
}

/* additional styles for Container, Box, Link, and Button components */

/* you may need to import the scss variables and mixins
  that you use in your project */
