.new-project-container {
  max-width: 'sm';

  & .new-project-form {
    & .new-project-title {
      & .new-project-title-input {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 18px;
        font-weight: 600;
      }
    }
    & .new-project-subtitle {
      & .new-project-subtitle-input {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
        font-weight: 600;
      }
    }
    & .new-project-description {
      & .new-project-description-input {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 14px;
        font-weight: 600;
      }
    }
    & .new-project-published {
      & .new-project-published-label {
        font-size: 14px;
        font-weight: 600;
        color: #444;
      }
      & .new-project-published-checkbox {
        width: 20px;
        height: 20px;
      }
    }
    & .new-project-likes {
      & .new-project-likes-input {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}
