.project-card {
  height: 300px;
  width: 200px;
  text-align: left;
  border: 1px dotted green;
  border-radius: 25px;
  background: rgb(243, 144, 79);
  background: black;
  padding: 10%;
  margin: 10% auto;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  a {
    text-decoration: none;
    color: white;
    font-size: 0.75em;
  }
  .project-card-title {
    h1 {
      font-size: 0.75em;
      word-spacing: 4px;
      color: white;
    }
  }
  .project-card-sub_title {
    position: relative;
    padding-top: 20px;
    font-size: 0.75em;
    color: white;
    line-height: 140%;
    font-weight: 400;
  }
}
