.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

  .logo-container {
    margin-right: 2rem;
    flex-shrink: 0;
  }

  .desktop-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .nav-link {
      display: flex;
      align-items: center;
      margin-left: 2rem;
      font-weight: bold;
      color: #333;
      text-decoration: none;

      svg {
        font-size: 1.2rem;
        margin-right: 0.5rem;
      }

      &:hover {
        color: #555;
      }
    }
  }

  .mobile-nav {
    display: none;
    z-index: 101;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;

    &.open {
      transform: translateX(0);
    }

    .nav-link {
      display: flex;
      align-items: center;
      margin: 1rem 0;
      font-weight: bold;
      color: #333;
      text-decoration: none;

      svg {
        font-size: 1.2rem;
        margin-right: 0.5rem;
      }

      & > div {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &:hover {
        color: #555;
      }
    }
  }

  .hamburger {
    display: block;
    cursor: pointer;
    margin-left: auto;
    z-index: 1000;
    .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      background-color: #333;
      transition: all 0.3s ease-in-out;
    }

    &.active {
      .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
      .bar:nth-child(2) {
        opacity: 0;
      }
      .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .desktop-nav {
      display: none;
    }

    .mobile-nav {
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 99;
      background-color: #fff;
      padding: 1rem;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      flex-direction: column;
      justify-content: center;
      align-items: flex-end; /* align items to the right */
      overflow-y: scroll;
      height: 100vh;
      width: 100vw;
      display: none;
      &.show {
        transform: translateX(0);
      }

      .nav-link {
        display: flex;
        align-items: center;
        margin: 1rem 0;
        font-weight: bold;
        color: #333;
        text-decoration: none;
        justify-content: flex-end; /* align text to the right */

        svg {
          font-size: 1.2rem;
          margin-right: 0.5rem;
        }

        & > div {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &:hover {
          color: #555;
        }
      }
    }

    .hamburger {
      display: block;
      cursor: pointer;
      margin-left: auto;
      padding-right: 1rem;
      .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: #333;
        transition: all 0.3s ease-in-out;
      }

      &.active {
        .bar:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
        }
        .bar:nth-child(2) {
          opacity: 0;
        }
        .bar:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
        }
      }
    }

    .slider-container {
      z-index: 99;
      /* other styles */
    }

    .mobile-nav.show {
      display: flex;
    }

    .navbar-links-container.show {
      display: block;
    }

    .hamburger.active ~ .desktop-nav {
      display: none;
    }

    .hamburger.active ~ .mobile-nav {
      display: flex;
    }
  }
}
